
-- WorkBridge Database Schema
-- ICT930 Assessment 3 | Semester 1, 2026

-- Users table (students, employers, admin)
CREATE TABLE users (
    id            SERIAL PRIMARY KEY,
    email         VARCHAR(255) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    full_name     VARCHAR(100) NOT NULL,
    role          VARCHAR(20) CHECK (role IN ('student','employer','admin')),
    visa_type     VARCHAR(50),
    university    VARCHAR(100),
    abn           VARCHAR(20),
    is_active     BOOLEAN DEFAULT TRUE,
    created_at    TIMESTAMP DEFAULT NOW()
);

-- Jobs table
CREATE TABLE jobs (
    id             SERIAL PRIMARY KEY,
    employer_id    INTEGER REFERENCES users(id) ON DELETE CASCADE,
    title          VARCHAR(150) NOT NULL,
    description    TEXT NOT NULL,
    category       VARCHAR(50),
    location       VARCHAR(100),
    salary_range   VARCHAR(50),
    hours_per_week INTEGER,
    visa_sponsored BOOLEAN DEFAULT FALSE,
    status         VARCHAR(20) DEFAULT 'active'
                   CHECK (status IN ('active','closed','draft')),
    deadline       DATE,
    created_at     TIMESTAMP DEFAULT NOW()
);

-- Applications table
CREATE TABLE applications (
    id         SERIAL PRIMARY KEY,
    student_id INTEGER REFERENCES users(id) ON DELETE CASCADE,
    job_id     INTEGER REFERENCES jobs(id) ON DELETE CASCADE,
    cover_note TEXT,
    status     VARCHAR(20) DEFAULT 'pending'
               CHECK (status IN
               ('pending','shortlisted','interview','offered','rejected')),
    applied_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    UNIQUE(student_id, job_id)
);

-- Reviews table
CREATE TABLE reviews (
    id         SERIAL PRIMARY KEY,
    student_id INTEGER REFERENCES users(id) ON DELETE CASCADE,
    job_id     INTEGER REFERENCES jobs(id) ON DELETE CASCADE,
    rating     INTEGER CHECK (rating BETWEEN 1 AND 5),
    comment    TEXT,
    created_at TIMESTAMP DEFAULT NOW()
);